@font-face {
    font-family: TestSohne;
    src: url(TestSöhne/TestSöhne-Kräftig.otf)
}
@font-face {
    font-family: GT_America_Mono;
    src: url(GT_America_Mono/GT-America-Mono-Regular-Trial.otf)
}
@font-face {
    font-family: ApfelGrotezk;
    src: url(ApfelGrotezk/ApfelGrotezk-Regular.otf)
}
* {
    box-sizing: border-box;
  }
  html, body {
    margin: 0;
    padding: 0;
  }
.leftDiv {
    float: left;
    overflow: scroll;
    height: 100vh;
    width: 50%;
    background: black;
    font-family: GT_America_Mono;
    color: white;
    padding: 53px 40px 53px;
    font-size: 1.45vw;
    position: relative;
    letter-spacing: 1px;
}
.rightDiv {
    float:right;
    overflow: scroll;
    height: 100vh;
    width: 50%;
    background: #FFD67D;
    font-family: GT_America_Mono;
    color: black;
    padding: 53px 40px 53px;
    font-size: 1.45vw;
    position: relative;
    letter-spacing: 1px;
}
.leftTitle {
    font-family: TestSohne;
    font-size: 10.582vw;
    color: white;
    text-align: right;
    margin: 0;
    line-height: 14.868vh;
    height: 47vh;
}
.rightTitle {
    font-family: TestSohne;
    font-size: 10.582vw;
    color: black;
    margin: 0;
    line-height: 15.55vh;
    padding-bottom: 36px;
}
.leftTitleSub {
    font-family: GT_America_Mono;
    font-size: 1.45vw;
    text-align: left;
    line-height: 3.055vh;
    position: absolute;
    float: inline-start;
    bottom: 49vh;
    left: 3vw;
}
.rightTitleSuper {
    font-family: GT_America_Mono;
    font-size: 1.72vw;
    text-align: right;
    position: absolute;
    float: inline-end;
    top: 0vh;
    right: 3vw;
}
.apfelFont{
    font-family: ApfelGrotezk;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.imgBlock {
    display: block;
}
.inmanImg { /*also right side*/
    width: 44.6vw;
    height: 40vh;
    margin-top: 2vw;
}
.blockLink {
    display: block;
    text-decoration: none;
    color: black;
}
/*about page*/
.aboutDiv {
    color: white;
    margin-left: 6vw;
}
.aboutDiv h1 {
    font-family: TestSohne;
    font-size: 10.582vw;
    margin-top: 0;
    margin-bottom: 0;
}
.aboutDiv p {
    font-family: GT_America_Mono;
    font-size: 1.72vw;
}
/*right side stuff*/
#cambridge {
    text-align: right;
}
#broadway3531 {
    width: 44.6vw;
    height: 44vh;
    padding-top: 2vw;
}
#broadway3532 {
    width: 48%;
    height: 19vh;
    float: left;
    margin: 4vh .5vw 1vh 0vw;
}
#broadway3533 {
    width: 48%;
    height: 19vh;
    float: right;
    margin: 4vh 0vw 1vh .5vw;    
}
#broadwayRightText {
    margin-left: 5.8vw;
}
#broadwayLeftText {
    margin-bottom: 2vw;
}
#bonAir110 {
    width: 44.6vw;
    height: 40vh;   
}
#bonAir1102 {
    width: 48%;
    height: 22vh;
    float: left;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
#bonAirText {
    margin-left: 1.8vw;
    margin-top: 2vw;
}
#inmanRightText {
    margin-left: 6.9vw;
}
#seaver247 {
    width: 44.6vw;
    height: fit-content;
    margin-top: 2vw;
}
#norfolkRightText {
    margin-left: 7.9vw;
}
#norfolk160 {
    width: 44.6vw;
    height: 40vh;  
}
#norfolk1602 {
    width: 44.6vw;
    height: 36vh;  
    margin-top: 2vw; 
}
#seaver2472 {
    width: 44.6vw;
    height: fit-content;
    margin-top: 2vw;
}
#pinckney45 {
    width: 44.6vw;
    height: 40vh;  
    margin-top: 2vw;
}
#pinckneyText {
    margin-left: 8.8vw;
}
#pinckney452 {
    width: 44.6vw;
    height: 40vh;  
}
#clayborne93 {
    width: 48%;
    height: 40vh;
    float: left;
    margin-top: 2vw;
}
#artAndCathy {
    width: 48%;
    height: 40vh;
    float: right;
    margin-top: 2vw;
}
#artCathyText {
    margin-left: 5.9vw;
    letter-spacing: 0px;
}
#unionSq16 {
    width: 44.6vw;
    height: 40vh;    
}

/*left side stuff*/
.blockPic {
    width: 44.6vw;
    height: fit-content;  
    display: block;
    margin-top: 2vw;
}
.inlinePicLeft {
    width: 21.2vw;
    height: 28vw;
    float: left;
    margin-top: 2vw;
    margin-right: .5vw;
}
.inlinePicRight {
    width: 21.2vw;
    height: 28vw;
    float: right;
    margin-top: 2vw;
    margin-left: .5vw;
    margin-bottom: 2vw;
}
